<div class="bg-info text-white text-center">
    <div class="row">
        <div class="col-lg-4">
            <!-- to provide link to navigate to catapi website -->
            <h4>Acknowledgement <br><a class="text-white" href="https://api.thecatapi.com">https://api.thecatapi.com</a></h4>
        </div>
        <div class="col-lg-4">
            <h2>All rights reserved &copy; 2020</h2>
        </div>
        <div class="col-lg-4">
            <!-- to show the current date and time -->
            <h4>{{currentDateTime | date:"mediumDate"}} <br> {{currentDateTime | date:"mediumTime"}}</h4>
        </div>
    </div>

</div>