<!-- ********************************************************************************************************************************* -->
<!-- **********************************Start of Random Cat Component Template********************************************************* -->
<!-- ********************************************************************************************************************************* -->

<!-- If Random cat is available, render the below div -->
<div class="row">
    <div class="col-lg-6">
        <div id="randomCatImageDiv">
            <div class="card" *ngIf="randomCat">
                <div class="card-header text-center text-info">Random Cat Image</div>
                <img id="randomCat" class="card-img-top" src={{randomCat.url}} alt="Cat Image">
                <div class="card-body">
                    <button class="btn btn-info btn-block" (click)="changeCat()">Click to change <i class="fa fa-random"
                            aria-hidden="true"></i></button>
                </div>
            </div>
            <!-- ******************************************************************** -->

            <!-- If the Random cat and Error both are unavailable, means loading state, render the below div -->
            <div class="card" *ngIf="!randomCat && !errRandomCat">
                <div class="card-header text-center text-info">Loading</div>
                <div class="spinner-border text-primary text-center" role="status">
                    <span class="sr-only"></span>
                </div>
                <img id="randomCat" class="card-img-top" src="" alt="">
                <div class="card-body"></div>
            </div>
            <!-- ******************************************************************** -->

            <!-- If random cat id unavailable due to network issue or URL error, render below div -->
            <div class="card" *ngIf="errRandomCat && !randomCat">
                <div class="card-header text-center text-info">Error occured</div>
                <img id="randomCat" class="card-img-top" src="" alt="">
                <div class="card-body">
                    <p>{{errRandomCat}}</p>
                    <h3>Error occured while fetching data</h3>
                    <ul>
                        <li>Please check your internet connection and proxy settings and try again</li>
                    </ul>
                    <button class="btn btn-info float-right" (click)="changeCat()">Retry</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
            <h1 id="randomCatTextH1" class="text-info text-center">Random Cat</h1>
            <p id="randomCatTextP" class="text-center">Click the button to see another one</p>
            <p id="randomCatTextP" class="text-center">Or scroll down to <span style="text-decoration: underline;">EXPLORE</span> More</p>
    </div>
</div>


<!-- ******************************************************************** -->

<!-- ********************************************************************************************************************************* -->
<!-- **********************************End of Random Cat Component template************************************************* -->
<!-- ********************************************************************************************************************************* -->